body{
    font-family: 'Montserrat', sans-serif;
}
.foto-header{
    background: url("./assets/background-header.jpg");
    background-size: cover;
}
.barra-nav{
    background-color: #ba2d65;
}
.titulo-uno{
    color: #ffffff;
    font-weight: bold;
}
.trabajos{
    background-color: #b0003a;
    }
    
.letra-logo{
    font-weight: bold;
    font-size: 2.5rem;
 }
 .pie-pagina{
     background-color: #b0003a;
     padding: 5%;
 }
 .pie-pagina div{
     color: #ffffff;
     font-size: 2rem;
     font-weight: bold;
 }
 .contacto{
     padding: 10%;
     margin-bottom: 5%;
         }
.titulo-dos{
    font-weight: bold;
    font-size: 2rem;
        }
.titulo-tres{
    font-weight: bold;
    font-size: 2rem;
 }
 .info-uno{
margin-top: 20%;
 }
